In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Telecomunicaciones_db = pd.read_excel('./Sector Telecomunicaciones.xls',header=5)
Construction_db = pd.read_excel('./Construction_Index.xls',header=5)
Housing_db = pd.read_excel('./Housing_Index.xls',header=5)
Mining_Agriculture_db = pd.read_excel('./Mining_Agriculture_Index.xls',header=5)
Financials_Sector_db = pd.read_excel('./Financials_Sector_Index.xls',header=5)

In [3]:
Telecomunicaciones_db.last_valid_index()

2531

In [4]:
Telecomunicaciones_db.head()

,Effective date,S&P/BMV Telecommunication Services Sector Index TR,S&P/BMV Telecommunication Services Sector Index
0,2009-04-30 00:00:00,NaN,615.68
1,2009-05-04 00:00:00,NaN,630.38
2,2009-05-05 00:00:00,NaN,638.89
3,2009-05-06 00:00:00,NaN,658.77
4,2009-05-07 00:00:00,NaN,657.88

In [5]:
Construction_db.head()

,Effective date,S&P/BMV Construction Index TR,S&P/BMV Construction Index
0,2009-04-30 00:00:00,47.09,NaN
1,2009-05-04 00:00:00,49.85,NaN
2,2009-05-05 00:00:00,51.69,NaN
3,2009-05-06 00:00:00,54.83,NaN
4,2009-05-07 00:00:00,54.08,NaN

In [6]:
Housing_db.head()

       Effective date   S&P/BMV Housing Index TR  S&P/BMV Housing Index
0  2009-04-30 00:00:00                    311.86                 306.20
1  2009-05-04 00:00:00                    332.49                 326.45
2  2009-05-05 00:00:00                    348.54                 342.21
3  2009-05-06 00:00:00                    374.36                 367.56
4  2009-05-07 00:00:00                    373.18                 366.40

In [7]:
Mining_Agriculture_db.head()

,Effective date,S&P/BMV Mining & Agriculture Index TR,S&P/BMV Mining & Agriculture Index
0,2009-04-30 00:00:00,96.72,NaN
1,2009-05-04 00:00:00,105.39,NaN
2,2009-05-05 00:00:00,109.78,NaN
3,2009-05-06 00:00:00,110.02,NaN
4,2009-05-07 00:00:00,108.18,NaN

In [8]:
Financials_Sector_db.head()

,Effective date,S&P/BMV Financial Services Index TR,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,74.18,NaN
1,2009-05-04 00:00:00,77.53,NaN
2,2009-05-05 00:00:00,80.27,NaN
3,2009-05-06 00:00:00,84.33,NaN
4,2009-05-07 00:00:00,82.99,NaN

In [9]:
ppp = (Telecomunicaciones_db["S&P/BMV Telecommunication Services Sector Index TR"].last_valid_index())+1

In [10]:
Telecomunicaciones_db = Telecomunicaciones_db.iloc[0:ppp,[0,2]]

In [11]:
Financials_Sector_db = (Financials_Sector_db.iloc[0:ppp,[0,2]])

In [12]:
Mining_Agriculture_db = Mining_Agriculture_db.iloc[0:ppp,[0,2]]

In [13]:
Housing_db = Housing_db.iloc[0:ppp,[0,2]]

In [14]:
Construction_db = Construction_db.iloc[0:ppp,[0,2]]

In [15]:
Telecomunicaciones_db.head()

       Effective date   S&P/BMV Telecommunication Services Sector Index
0  2009-04-30 00:00:00                                           615.68
1  2009-05-04 00:00:00                                           630.38
2  2009-05-05 00:00:00                                           638.89
3  2009-05-06 00:00:00                                           658.77
4  2009-05-07 00:00:00                                           657.88

In [16]:
Index_db = Telecomunicaciones_db.merge(Financials_Sector_db, on='Effective date ')

In [17]:
Index_db.head()

,Effective date,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,615.68,NaN
1,2009-05-04 00:00:00,630.38,NaN
2,2009-05-05 00:00:00,638.89,NaN
3,2009-05-06 00:00:00,658.77,NaN
4,2009-05-07 00:00:00,657.88,NaN

In [18]:
Index_db = Mining_Agriculture_db.merge(Index_db, on='Effective date ')

In [19]:
Index_db.head()

,Effective date,S&P/BMV Mining & Agriculture Index,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,NaN,615.68,NaN
1,2009-05-04 00:00:00,NaN,630.38,NaN
2,2009-05-05 00:00:00,NaN,638.89,NaN
3,2009-05-06 00:00:00,NaN,658.77,NaN
4,2009-05-07 00:00:00,NaN,657.88,NaN

In [20]:
Index_db = Housing_db.merge(Index_db, on='Effective date ')

In [21]:
Index_db.head()

,Effective date,S&P/BMV Housing Index,S&P/BMV Mining & Agriculture Index,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,306.20,NaN,615.68,NaN
1,2009-05-04 00:00:00,326.45,NaN,630.38,NaN
2,2009-05-05 00:00:00,342.21,NaN,638.89,NaN
3,2009-05-06 00:00:00,367.56,NaN,658.77,NaN
4,2009-05-07 00:00:00,366.40,NaN,657.88,NaN

In [22]:
Index_db = Construction_db.merge(Index_db, on='Effective date ')

In [23]:
Index_db.head()

,Effective date,S&P/BMV Construction Index,S&P/BMV Housing Index,S&P/BMV Mining & Agriculture Index,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,NaN,306.20,NaN,615.68,NaN
1,2009-05-04 00:00:00,NaN,326.45,NaN,630.38,NaN
2,2009-05-05 00:00:00,NaN,342.21,NaN,638.89,NaN
3,2009-05-06 00:00:00,NaN,367.56,NaN,658.77,NaN
4,2009-05-07 00:00:00,NaN,366.40,NaN,657.88,NaN

In [58]:
Index_db = Index_db[Index_db['S&P/BMV Construction Index'].notnull()]

In [64]:
Index_db = Index_db[Index_db["Effective date "] > pd.Timestamp(2012, 9, 3)]

In [65]:
Index_db

,Effective date,S&P/BMV Construction Index,S&P/BMV Housing Index,S&P/BMV Mining & Agriculture Index,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
845,2012-09-04 00:00:00,49.65,181.52,302.19,637.85,197.85
846,2012-09-05 00:00:00,49.63,181.05,302.29,637.67,198.43
847,2012-09-06 00:00:00,50.32,184.70,309.29,640.53,198.94
848,2012-09-07 00:00:00,51.11,190.13,316.31,640.05,199.35
849,2012-09-10 00:00:00,51.30,192.39,318.84,637.49,200.28
850,2012-09-11 00:00:00,52.26,198.63,317.28,639.51,200.44
851,2012-09-12 00:00:00,53.74,209.39,319.08,641.62,201.04
852,2012-09-13 00:00:00,53.96,209.71,324.73,646.73,204.11
853,2012-09-14 00:00:00,53.52,207.52,330.66,643.39,204.43
854,2012-09-17 00:00:00,53.81,208.92,328.57,640.68,204.41
855,2012-09-18 00:00:00,54.10,211.61,328.62,641.10,203.46
856,2012-09-19 00:00:00,55.42,219.22,332.76,646.06,205.39
857,2012-09-20 00:00:00,55.02,217.39,330.96,643.88,204.97
858,2012-09-21 00:00:00,55.15,219.20,329.62,644.12,202.55
859,2012-09-24 00:00:00,55.20,217.85,331.17,652.13,204.44
860,2012-09-25 00:00:00,53.99,210.65,326.25,643.80,205.14
861,2012-09-26 00:00:00,53.33,207.47,327.66,647.89,204.50
862,2012-09-27 00:00:00,54.37,213.03,330.49,653.07,208.25
863,2012-09-28 00:00:00,54.78,214.04,333.44,654.56,208.88
864,2012-10-01 00:00:00,55.99,218.89,332.52,651.49,213.05
865,2012-10-02 00:00:00,56.20,217.93,330.86,654.41,214.66
866,2012-10-03 00:00:00,56.14,217.21,328.41,657.21,215.51
867,2012-10-04 00:00:00,57.03,222.10,329.83,656.63,218.31
868,2012-10-05 00:00:00,56.85,220.28,330.54,663.77,218.18
869,2012-10-08 00:00:00,56.92,221.22,327.51,665.09,216.50
870,2012-10-09 00:00:00,56.78,220.90,327.83,663.75,212.71
871,2012-10-10 00:00:00,56.45,218.48,325.75,662.11,211.55
872,2012-10-11 00:00:00,57.45,223.80,330.97,662.81,212.08
873,2012-10-12 00:00:00,57.09,220.29,327.35,661.08,215.32
874,2012-10-15 00:00:00,57.70,222.36,331.71,661.49,219.48
...,...,...,...,...,...,...
2497,2019-04-04 00:00:00,26.95,38.91,201.17,753.88,371.76
2498,2019-04-05 00:00:00,27.37,38.52,204.33,778.42,377.35
2499,2019-04-08 00:00:00,27.51,37.97,208.09,786.50,380.47
2500,2019-04-09 00:00:00,27.24,37.70,205.13,785.51,380.46
2501,2019-04-10 00:00:00,27.07,37.09,203.79,787.02,377.74
2502,2019-04-11 00:00:00,26.81,37.17,202.35,776.63,381.73
2503,2019-04-12 00:00:00,26.78,37.71,205.31,764.98,389.56
2504,2019-04-15 00:00:00,26.77,37.74,202.79,768.61,389.53
2505,2019-04-16 00:00:00,27.07,37.15,206.35,777.20,392.54
2506,2019-04-17 00:00:00,27.23,37.63,212.73,781.95,398.60
2507,2019-04-22 00:00:00,27.16,37.70,211.88,776.22,398.82
2508,2019-04-23 00:00:00,27.10,38.50,211.41,764.19,397.04
2509,2019-04-24 00:00:00,27.01,38.60,206.33,769.32,394.10
2510,2019-04-25 00:00:00,26.97,38.64,205.96,774.34,393.73
2511,2019-04-26 00:00:00,26.93,38.75,205.71,773.15,391.83
2512,2019-04-29 00:00:00,26.46,37.60,201.98,772.08,391.16
2513,2019-04-30 00:00:00,26.81,37.66,202.50,742.51,393.02
2514,2019-05-02 00:00:00,26.52,36.88,194.73,740.64,392.67
2515,2019-05-03 00:00:00,26.64,37.13,194.78,735.66,391.28
2516,2019-05-06 00:00:00,26.51,36.45,194.40,724.52,389.49
2517,2019-05-07 00:00:00,26.11,36.48,191.43,711.54,386.46
2518,2019-05-08 00:00:00,25.90,36.01,187.69,701.02,384.01
2519,2019-05-09 00:00:00,25.69,35.12,187.34,710.41,378.69
2520,2019-05-10 00:00:00,25.73,34.69,187.64,708.79,377.94
2521,2019-05-13 00:00:00,25.63,33.70,188.16,700.31,374.32
2522,2019-05-14 00:00:00,25.74,35.35,186.15,707.81,375.99
2523,2019-05-15 00:00:00,25.71,34.76,185.20,712.28,374.53
2524,2019-05-16 00:00:00,25.71,34.77,185.43,720.24,373.77
2525,2019-05-17 00:00:00,25.70,34.42,185.50,724.73,372.09
2526,2019-05-20 00:00:00,25.68,34.47,182.90,721.39,373.99

In [24]:
Index_db.reset_index(drop=True)

,Effective date,S&P/BMV Construction Index,S&P/BMV Housing Index,S&P/BMV Mining & Agriculture Index,S&P/BMV Telecommunication Services Sector Index,S&P/BMV Financial Services Index
0,2009-04-30 00:00:00,NaN,306.20,NaN,615.68,NaN
1,2009-05-04 00:00:00,NaN,326.45,NaN,630.38,NaN
2,2009-05-05 00:00:00,NaN,342.21,NaN,638.89,NaN
3,2009-05-06 00:00:00,NaN,367.56,NaN,658.77,NaN
4,2009-05-07 00:00:00,NaN,366.40,NaN,657.88,NaN
5,2009-05-08 00:00:00,NaN,379.83,NaN,668.61,NaN
6,2009-05-11 00:00:00,NaN,368.28,NaN,662.12,NaN
7,2009-05-12 00:00:00,NaN,355.09,NaN,659.51,NaN
8,2009-05-13 00:00:00,NaN,345.53,NaN,647.72,NaN
9,2009-05-14 00:00:00,NaN,354.18,NaN,653.00,NaN
10,2009-05-15 00:00:00,NaN,359.79,NaN,646.87,NaN
11,2009-05-18 00:00:00,NaN,369.80,NaN,657.65,NaN
12,2009-05-19 00:00:00,NaN,376.44,NaN,657.88,NaN
13,2009-05-20 00:00:00,NaN,373.41,NaN,655.14,NaN
14,2009-05-21 00:00:00,NaN,355.04,NaN,640.48,NaN
15,2009-05-22 00:00:00,NaN,364.05,NaN,654.65,NaN
16,2009-05-25 00:00:00,NaN,367.43,NaN,658.33,NaN
17,2009-05-26 00:00:00,NaN,392.60,NaN,667.60,NaN
18,2009-05-27 00:00:00,NaN,405.37,NaN,665.40,NaN
19,2009-05-28 00:00:00,NaN,402.86,NaN,664.86,NaN
20,2009-05-29 00:00:00,NaN,400.25,NaN,652.50,NaN
21,2009-06-01 00:00:00,NaN,416.07,NaN,668.12,NaN
22,2009-06-02 00:00:00,NaN,420.53,NaN,669.24,NaN
23,2009-06-03 00:00:00,NaN,409.47,NaN,658.29,NaN
24,2009-06-04 00:00:00,NaN,412.25,NaN,659.14,NaN
25,2009-06-05 00:00:00,NaN,416.99,NaN,663.39,NaN
26,2009-06-08 00:00:00,NaN,414.44,NaN,668.30,NaN
27,2009-06-09 00:00:00,NaN,426.76,NaN,668.23,NaN
28,2009-06-10 00:00:00,NaN,426.25,NaN,669.62,NaN
29,2009-06-11 00:00:00,NaN,429.90,NaN,676.92,NaN
...,...,...,...,...,...,...
2497,2019-04-04 00:00:00,26.95,38.91,201.17,753.88,371.76
2498,2019-04-05 00:00:00,27.37,38.52,204.33,778.42,377.35
2499,2019-04-08 00:00:00,27.51,37.97,208.09,786.50,380.47
2500,2019-04-09 00:00:00,27.24,37.70,205.13,785.51,380.46
2501,2019-04-10 00:00:00,27.07,37.09,203.79,787.02,377.74
2502,2019-04-11 00:00:00,26.81,37.17,202.35,776.63,381.73
2503,2019-04-12 00:00:00,26.78,37.71,205.31,764.98,389.56
2504,2019-04-15 00:00:00,26.77,37.74,202.79,768.61,389.53
2505,2019-04-16 00:00:00,27.07,37.15,206.35,777.20,392.54
2506,2019-04-17 00:00:00,27.23,37.63,212.73,781.95,398.60
2507,2019-04-22 00:00:00,27.16,37.70,211.88,776.22,398.82
2508,2019-04-23 00:00:00,27.10,38.50,211.41,764.19,397.04
2509,2019-04-24 00:00:00,27.01,38.60,206.33,769.32,394.10
2510,2019-04-25 00:00:00,26.97,38.64,205.96,774.34,393.73
2511,2019-04-26 00:00:00,26.93,38.75,205.71,773.15,391.83
2512,2019-04-29 00:00:00,26.46,37.60,201.98,772.08,391.16
2513,2019-04-30 00:00:00,26.81,37.66,202.50,742.51,393.02
2514,2019-05-02 00:00:00,26.52,36.88,194.73,740.64,392.67
2515,2019-05-03 00:00:00,26.64,37.13,194.78,735.66,391.28
2516,2019-05-06 00:00:00,26.51,36.45,194.40,724.52,389.49
2517,2019-05-07 00:00:00,26.11,36.48,191.43,711.54,386.46
2518,2019-05-08 00:00:00,25.90,36.01,187.69,701.02,384.01
2519,2019-05-09 00:00:00,25.69,35.12,187.34,710.41,378.69
2520,2019-05-10 00:00:00,25.73,34.69,187.64,708.79,377.94
2521,2019-05-13 00:00:00,25.63,33.70,188.16,700.31,374.32
2522,2019-05-14 00:00:00,25.74,35.35,186.15,707.81,375.99
2523,2019-05-15 00:00:00,25.71,34.76,185.20,712.28,374.53
2524,2019-05-16 00:00:00,25.71,34.77,185.43,720.24,373.77
2525,2019-05-17 00:00:00,25.70,34.42,185.50,724.73,372.09
2526,2019-05-20 00:00:00,25.68,34.47,182.90,721.39,373.99

In [ ]:
max(telecomunication['S&P/BMV Telecommunication Services Sector Index'])

In [ ]:
plt.plot(telecomunication['S&P/BMV Telecommunication Services Sector Index'])
plt.show()